@page "/change-language-demonstrate"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ChangeLanguageDemonstrate> Localizer

<h3>ChangeLanguageDemonstrate</h3>
@Localizer["String1"]
<p>Refresh the page to see the translated content</p>