@page "/"

<PageTitle>Blazor School code sample</PageTitle>

<h1>Welcome to Blazor School!</h1>
<p>Building a multilingual website in Blazor Server .NET 7. - Blazor School</p>
<p>For additional tutorials on Blazor Server, visit <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>

<div><NavLink href="change-language-demonstrate?culture=en">Change Language Demonstrate (English)</NavLink></div>
<div><NavLink href="change-language-demonstrate?culture=fr">Change Language Demonstrate (French)</NavLink></div>