@page "/change-language-demonstrate"
@using InstantTranslationWithCookies.Components
@using InstantTranslationWithCookies.Utilities
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ChangeLanguageDemonstrate> Localizer
@inject BlazorSchoolLanguageNotifier BlazorSchoolLanguageNotifier
@implements IDisposable

<h3>ChangeLanguageDemonstrate</h3>
@Localizer["String1"]
<LanguageSelector />

@code {
    protected override void OnInitialized() => BlazorSchoolLanguageNotifier.SubscribeLanguageChange(this);
    public void Dispose() => BlazorSchoolLanguageNotifier.UnsubscribeLanguageChange(this);
}